@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   line-height: 1.5em;
   min-height: 100vh;
   min-height: 100%;
   min-width: 100vw;
   min-width: 100%;
}
main{
    min-height: 100vh;
    margin: 10px;
}
header{
    background-image: linear-gradient( to right, #0B4F8A,#2e6de4,#ecba6e,#F28C28);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.logo{
    position: absolute;
    left: 50%;
    height: 55px;
    width: 55px;
}
#pai{
    display: flex;
    flex-flow: row wrap;   
}
.filho{
    display: flex;
    flex: 1 1 50px;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    text-decoration: none;
    
}
.filho:hover{
    text-decoration: underline;
}
#conta{
    display: flex;
    align-items: center;
    min-width: 150px;
    height: 30px;
    text-align: center;
    color: black;
}
#conta:hover{
    color: red;
}
#perfil{
    height: 25px;
}
a{
    text-decoration: none;
    
}
#globo{
    color: rgb(0, 132, 255);
}
#g2{
    color: #32b5be;
}
#ge{
    color: rgb(16, 160, 16);
}
#gshow{
    color: rgb(255, 153, 35);
}
#gbplay{
    color: #FB0334;
}
#g1jogos{
    color: #C9170C;
}
#o-globo{
    color:#1E4C9A ;
}
#valor{
    color: #006767;
}
.imgart{
    
    display: block;
    min-height: 200px;
    max-width: 400px; 
    flex-shrink: 0;
    padding: 10px;
}
.artigo{
    display: flex;
    flex-flow: row wrap;
}
.img2{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
p{
    padding: 5px;
    font-size: larger;
}
h2,ul{
    color: #C9170C;
    padding: 5px;
}
ul{
    font-size: smaller;
}
.seção{
    text-align: justify;
    max-width: 900px;
    height: auto;
    margin: auto;   
    padding: 20px;
    text-align: left;
}
#modo-escuro{
    padding: 5px;
    width: 55px;
    height: 55px;
}
#modo-escuro:hover{
    cursor: pointer;
    transition: 0.5s ease;
}
#modo-escuro:hover{
    
    transform: rotate(360deg);
}
.texto{
    padding: 7px;
    flex:1 1 150px
}
@media screen and (min-width: 750px) and (max-width: 950px){
    .seção{
        min-width: 700px;
        min-height: 450px;
    }
}
@media screen and (min-width:550px) and (max-width:700px) {
    .seção{
        width: 500px;
        min-height: 450px;
        
    }
    .imgart{
        width: 100%;
        height: 250px;
        margin: auto;
    }
    .artigo{
    display: flex;
    flex-flow: row wrap;
}
}
@media screen and (min-width:350px) and (max-width:500px) {
    .seção{
        min-width: 300px;
        min-height: 400px;
        margin-bottom: 15px;
    }
    .imgart{
        width: 100%;
        min-height: 90px;
        margin: 10px auto;
    }
    .filho{
        border: 1px solid black;
    }
    .artigo{
    display: flex;
    flex-flow: row wrap;
    }
    .texto{
    padding: 7px;
    flex:1 1 70px
    }
    .logo{
        max-height:55px ;
    }
}
#footer1{
    min-height:80px ;
    background-image: linear-gradient(to left ,#0B4F8A,#2e6de4,#ecba6e,#F28C28);
}
#pf1{
    width: 120px;
    color: rgb(228, 226, 226);
    font-size: medium;
}
#pf1:hover{
    text-decoration: underline; 
}
#pf2{
    font-size: small;
    color: rgb(241, 241, 241);
}

